<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="logo.jpg" type="image/x-icon">
    <title>PrepWork - Reset Password</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Outfit', sans-serif;
        }

        body{
            background-color: #1F89EF;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
        }
    </style>
</head>
<body>
    <% if (status == 'success') { %>
        <h1>Password reset successful!</h1>
    <% } else if (status == 'error') { %>
        <h1>Password reset failed!</h1>
    <% } else {%>
        <h1>Invalid request!</h1>
    <% } %>
</body>
</html>